<div class="container" style="margin-top: 20px;">
    <div class="row">
        <img [src]="image" width="800" height="400">
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-12">
            <p class="card-text">productName : {{product.productName}}</p>
        </div>
        <div class="col-12">
            <p class="card-text">productPrice: : {{product.productPrice}}</p>
        </div>
        <div class="col-12">
            <p class="card-text">isOfferAvailable  : {{product.isOfferAvailable}}</p>
        </div>
        <div class="col-12">
            <p class="card-text">productDiscount  : {{product.productDiscount}}</p>
        </div>
        <div class="col-12">
            <p class="card-text">productDescription  : {{product.productDescription}}</p>
        </div>
        <div class="col-12">
            <p class="card-text">itemNumber  : {{product.itemNumber}}</p>
        </div>
        <div class="col-12">
            <p class="card-text">productQuantityToBuy  : {{product.productQuantityToBuy}}</p>
        </div>
        <div class="col-12">
            <p class="card-text">productBrand  : {{product.productBrand}}</p>
        </div>
        <div class="col-12">
            <p class="card-text">productModelNumber : {{product.productModelNumber}}</p>
        </div>
        <div class="col-12">
            <p class="card-text">productModelName  : {{product.productModelName}}</p>
        </div>
    </div>
</div>